@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;600&display=swap');

body{
    background:#191919;
}

.loader-main{
    height:100%;
}
.loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: grid;
    place-items: center;
    pointer-events: none;
    z-index:100;
  }

.l-wrapper{
    height:100%;
    width:100%;
    background:#fff;
    z-index: 100;
    position: absolute;
}

.l-wrapper .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.l-wrapper .logo img{
    height:120px;
}

.main{
    height:calc(100% - 160px);
    width:90vw;
    padding-left: 10vw;
    position: relative;
}

.main .fv{
    position: absolute;
    top:-190px;
}

.main .text{
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    color:#fff;
}

.main .text span{
    font-size:84px;
    letter-spacing: 0.06em;
}

.main .video{
    width:100vw;
    height:100vh;
    z-index:-1;
    margin: 0 calc(50% - 50vw);
    overflow: auto;
}

.main .video .video-control{
    width:100%;
}

.works-logo{
    background: #fff;
    padding:32px 0;
    margin: 0 calc(50% - 50vw);
    width:100vw;
    margin-top:80px;
}

.swiper-wrapper {
    transition-timing-function: linear;
}
/* 画像のサイズ調整 */
.swiper-slide img {
    height: auto;
    max-height:40px;
}

.works-logo .swiper-slide{
    width: 6vw;
    display: flex;
    transition: transform .3s;
    justify-content: center;
}

header{
    height:340px;
}

.inner{
    padding:48px 0;
}

.inner h2 .en{
    font-size:4rem;
    font-weight: 600;
    padding-right: 20px;
}

.inner h2 .jp{
    font-size:1rem;
    font-weight: bold;
}

.inner .work-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inner .work-list li{
    width:31%;
    height:
}